/* MOBILE FIRST */
/* Estilos generales */
* {
    margin: 0;padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family:'Lato', sans-serif;
    color: #2c3e50;
}
#gridAreas {
    display: grid;
    /* Grid Areas */
    grid-template-areas: 
    
    "cabeza" /* fila 1 */
    "menu"
    "productos"/* fila 2 */
    "brazo"
    "servicios"/* fila 3 */
    "pie"/* fila 4 */
    ; 
    grid-template-columns: 100%;
    grid-template-rows: 100px 2fr 2fr 100px;  
    grid-column-gap: 5px;
    grid-row-gap: 5px;
 }
 /* Flex */
 .menuFlex {
    display: flex;
    flex-direction: column;
}
span {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
span:hover {
    background-color: #34495e;
    color: azure;
}

/* Nombrar Areas  de GRID por AREAS*/
header {
    grid-area: cabeza;
    padding: 10px;
    background-color: #FFF;
 }
 footer {
    grid-area: pie;
    padding: 10px;
    background-color: #2c3e50;
 }
 #productos {
    grid-area: productos;  
    padding: 20px;
    text-align: justify;
 }
 #servicios {
    grid-area: servicios;  
    padding: 10px;   
 }
 nav {
    grid-area: menu;
    padding: 10px;
    background-color: #34495e;
 }
 aside {
    grid-area: brazo;
    padding: 10px;
    background-color: #d3d3d3;
 }
 article {
     margin-bottom: 10px;
 }



/* TABLET */
@media (min-width: 481px) and (max-width: 1023px){
    #gridAreas {
        display: grid;
        /* Grid Areas */
        grid-template-areas: 
        "cabeza    cabeza" /* fila 1 */
        "menu      menu "
        "productos  productos"/* fila 2 */
        "brazo brazo"
        "servicios  servicios"/* fila 3 */
        "pie       pie    "/* fila 4 */
        ; 
        grid-template-columns: 15% auto ;
        grid-template-rows: 100px 2fr 2fr 100px;  
        grid-column-gap: 5px;
        grid-row-gap: 5px;
     }
     /* Flex */
    .menuFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
    span {
        background-color: #fff;
        margin-bottom: 5px;
        padding: 10px;
        width: 120px;
    }
    span:hover {
        background-color: #34495e;
        color: azure;
    }
}



/* DESKTOP */
@media (min-width: 1024px) {
    .border {
        background-color: #d3d3d3;
     }
    span {
        background-color: #fff;
        margin-bottom: 5px;
        padding: 10px;
    }
    span:hover {
        background-color: #34495e;
        color: azure;
    }
    
     /* GRID AREAS */
    #gridAreas {
        display: grid;
        /* Grid Areas */
        grid-template-areas: 
        
        "menu cabeza    cabeza     cabeza" /* fila 1 */
        "menu productos  productos brazo"/* fila 2 */
        "menu servicios  servicios brazo"/* fila 3 */
        "menu pie       pie       pie "/* fila 4 */
        ; 
        grid-template-columns: 15% auto auto 15% ;
        grid-template-rows: 100px 2fr 2fr 100px;  
        grid-column-gap: 5px;
        grid-row-gap: 5px;
     }
    
     
     
     /* Flex */
     .menuFlex {
         display: flex;
         flex-direction: column;
     }
     .productosFlex {
         display: flex;
         flex-direction: row;
     }
}